.window,
.window * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.window {
	/* Palette */
	--c-blue1: #4897fd;
	--c-blue2: #0758ee;
	--c-blue3: #1134e6;
	--c-lightblue1: #a1bdf3;
	--c-lightblue2: #74a2fd;
	--c-glass1: #fff8;
	--c-glass2: #fff4;
	--c-glass3: #fff0;
	--c-red1: #f4ad9c;
	--c-red2: #f5724b;
	--c-red3: #b7210a;
	--c-white: #eee;
	--c-black: #111;
	--c-grey1: #f4f3ef;
	--c-grey2: #d8d8c2;
	--c-grey3: #c8c8b4;
	--c-grey4: #a0a08c;
	
	background: linear-gradient(to bottom, var(--c-blue2) 0, var(--c-blue1) 4px, var(--c-blue2) 8px, var(--c-blue2) 1.8rem, var(--c-blue3) 2.2rem);
	border-radius: 10px 10px 0 0;
	padding: 4px;
	display: flex;
	flex-direction: column;
	gap: 6px;
	position: fixed;
	z-index: 0;
}

.window:not(.no-shadow) {
	box-shadow: 4px 4px 4px 0 #0004;
}

.window.resizing {
	transition:
		width 80ms,
		height 80ms,
		top 80ms,
		left 80ms;
}

.window.maximized {
	border-radius: 0;
}

.window .head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	padding: 4px 2px 0 4px;
	user-select: none;
	cursor: grab;
}

.window .head .actions button {
	color: #fff;
}

.window.dragging .head {
	cursor: grabbing;
}

.window .body {
	color: #000;
	user-select: none;
}

.window .info {
	flex: 1;
	display: flex;
	gap: 6px;
	touch-action: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.window .title {
	color: var(--c-white);
	display: flex;
	align-items: center;
	text-shadow: 2px 2px #0007;
}

.window .actions {
	display: flex;
	gap: 2px;
}

.window .actions button {
	padding: 2px;
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border: 1px solid var(--c-white);
	font-size: 1.1rem;
	animation: none;
}

.window .minimize,
.window .size {
	background: radial-gradient(circle at 4px 4px, var(--c-glass1) 0, var(--c-glass2) 6px, var(--c-glass3));
}

.window .close {
	background: radial-gradient(circle at 4px 4px, var(--c-red1) 0, var(--c-red2) 6px, var(--c-red3));
}

.window .body {
	flex: 1;
	background: var(--c-white);
	overflow: auto;
}

.window button:not(.action-btn) {
	padding: 0.4rem 1rem;
	background: linear-gradient(to bottom, var(--c-white) 10%, var(--c-grey1) 95%, var(--c-grey2));
	color: var(--c-black);
	box-shadow: inset 0 0 1px 1px var(--c-lightblue2);
	border: 1px solid #222;
	border-radius: 3px;
	font-size: 0.9rem;
	transition: background 0.1s;
}

.window button:not(.action-btn):hover {
	box-shadow: inset 0 0 1px 2px var(--c-lightblue2);
	animation: none;
	filter: none;
}

.window button:disabled:not(.action-btn) {
	cursor: default;
	background: var(--c-grey1);
	color: var(--c-grey4);
	box-shadow: none;
	border: 1px solid var(--c-grey3);
	border-radius: 3px;
	font-size: 0.9rem;
}

.window button:disabled:not(.action-btn):hover {
	box-shadow: none;
	animation: none;
	filter: none;
}

.window * {
	scrollbar-color: #a1bdf3 #ebebeb;
	scrollbar-width: auto;
}

.window *::-webkit-scrollbar {
	width: auto;
}

/* Track */
.window *::-webkit-scrollbar-track {
	background: #ebebeb; 
}
 
/* Handle */
.window *::-webkit-scrollbar-thumb {
	background: radial-gradient(circle at 8px 8px, #cfebff 0, #afcaff 50%);
	box-shadow:
		 inset 0 0 0px 1px var(--c-white),
		 inset 0 0 0px 2px #9db9dd,
		 0 2px 0 #87a5e2;
	border-radius: 4px;
}

/* Handle on hover */
.window *::-webkit-scrollbar-thumb:hover {
	background: radial-gradient(circle at 8px 8px, #bfdbef 0, #9fbaef 50%);
}

.window .icon {
	/* Add styles here */
}